

/* Colors and Fonts */

h1 {
	color: darkblue;
	font-family: Helvetica;
	font-size: 70px;
	font-weight: 900;
}

h2, h3, h4 {
	font-size: 32px;
}

body{
	background-color: rgb(230, 230, 230);
	color: rgb(50, 50, 50);
	font-family: Helvetica;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: seagreen;
}

a:hover{
	color: black;
	text-decoration: underline;
}





/* Custom design with class */

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container{
		width: 600px;
	}
}

@media (max-width: 800px) {
	.container{
		width: 400px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle{
	width: 50%;
	border-radius: 50%;
}

.btn-blue{
	background-color: blue;
	color: white;
	padding:15px 20px;
	border-radius: 7px;
}

.btn-blue:hover {
	background-color: black;
	color: white;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 60px;
	color: rgb(230, 230, 230);
}

.list-inline i:hover {
	font-size: 60px;
	color: black;
}

#premierbloc p {
	margin-bottom: 50px;
}

#deuxiemebloc p{
	margin-bottom: 50px;
}



